<div class="form-container">
  <mat-card >
      <form #studentForm = "ngForm" >
          <div>
                  <mat-form-field appearance="fill">
                      <mat-label>City name</mat-label>
                      <input matInput placeholder="Enter your city name"
                      [(ngModel)]= name
                      name = name
                      required>
                  </mat-form-field>
          </div>
          <button  mat-raised-button (click)="saveCity()"  color="green">Save</button>

      </form>
  </mat-card> 
</div>