<table mat-table [dataSource]="cities" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element;  let i = index">
          <span *ngIf="i!=rowToEdit">{{element.name}}</span>
      </td>
  </ng-container>

  <ng-container  matColumnDef="getData">
      <th mat-header-cell *matHeaderCellDef> Get Data </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          mat-raised-button
          color = 'primary'
          *ngIf="!get"
          (click)="get=!get">
          Get
        </button>
        <button 
          mat-raised-button
          color = 'primary'
          *ngIf="get">
          Predict
        </button>  

      </td>
    </ng-container>

    <ng-container  matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> Icon </th>
      <td mat-cell *matCellDef="let element; let i = index">
                         
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

