   <table mat-table [dataSource]="cities" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> City name </th>
      <td mat-cell *matCellDef="let element, let i = index"> {{element.name}} </td>
    </ng-container>  
    <ng-container matColumnDef="getdata">
      <th mat-header-cell *matHeaderCellDef> Get data</th>
      <td mat-cell *matCellDef="let element, let i = index"><button  *ngIf="!element.temperature" (click)="getDataFun(i, element.name)" mat-raised-button>Get data</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="temperature" >
        <th mat-header-cell *matHeaderCellDef> temperature </th>
        <td mat-cell *matCellDef="let element; let i = index"  >{{element.temperature}} </td>
      </ng-container>

      <ng-container matColumnDef="humidity" >
        <th mat-header-cell *matHeaderCellDef> humidity </th>
        <td mat-cell *matCellDef="let element; let i = index"  > {{element.humidity}} </td>
      </ng-container>

      <ng-container matColumnDef="result" >
        <th mat-header-cell *matHeaderCellDef> Rain forecast </th>
        <td mat-cell *matCellDef="let element; let i = index"  > {{element.predict}} </td>
      </ng-container>
      
      <ng-container matColumnDef="windspeed" >
        <th mat-header-cell *matHeaderCellDef> Wind </th>
        <td mat-cell *matCellDef="let element; let i = index"  > {{element.wind}} </td>
      </ng-container>

      <ng-container matColumnDef="image" >
        <th mat-header-cell *matHeaderCellDef> weather icon </th>
        <td mat-cell *matCellDef="let element; let i = index" >  <img mat-card-avatar *ngIf ="element.temperature" src={{element.image}} alt="Photo of weather">
        </td>
      </ng-container>

    <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef> Predict</th>
        <td mat-cell *matCellDef="let element, let i = index"><button (click)="predict(i)" [disabled]="!element.temperature"  mat-raised-button color ="pink">Predict</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell  *matCellDef="let element, let i = index"> <button (click)="deletecity(element.id)"  mat-raised-button color ="warn">Delete</button> </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>